.kyc-management {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.kyc-country {
    padding-bottom: 12px;
    border-bottom: 1.5px solid #E5E7EB;
}

.kyc-photo p {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0px;
    color: #111827;
}

.kyc-table {
    display: flex;
    width: 100%;
    gap: 16px;
}

.kyc-row {
    display: flex;
    width: 100%;
    max-width: 365px;
    gap: 80px;
}

.kyc-id {
    font-family: "Rethink Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0px;
}

.faint-grey {
    color: #6B7280;
}

.deep-black {
    color: #111827;
    font-weight: 500;
}

.kyc-users-id {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 746px;
    height: auto;
}

.f-v-img {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.f-v-img img {
    width: 100%;
}

.f-img {
    background-image: url("../../assets/frontview.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    width: 100%;
    max-width: 236px;
    height: 192px;
}

.f-img:hover .view-pp {
    visibility: visible;
}

.b-img {
    background-image: url("../../assets/idback.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    max-width: 236px;
    height: 192px;
}

.s-img {
    background-image: url("../../assets/userselfie.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    height: 192px;
    width: fit-content;
    max-width: 157px;
}

.view-pp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98px;
    gap: 8px;
    position: absolute;
    margin: 0 auto;
    margin-top: 84px;
    visibility: hidden;
    margin-left: 39px;
}

.view-pp img {
    width: 20px;
    height: 20px;
}

.f-img::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
    height: 160px;
    margin-top: 1rem;
}

.f-img:hover::before {
    opacity: 1;
}

.view-pp p {
    position: relative;
    font-family: "Rethink Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0px;
    color: #fff;
    z-index: 2;
}

.kyc-view {
    margin-top: 11.5rem;
    font-family: "Rethink Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.user-initial-log {
    transition: filter 0.3s ease;
}

.user-initial-log.blurred {
    filter: blur(2px);
    pointer-events: none;
}

.slide-show {
    display: flex;
    flex-direction: column;
    padding: 36px;
    padding-top: 0px;
    gap: 32px;
    /* background-color: #FFFFFF; */
    max-width: 784px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    z-index: 999;
}

.inner-slide-show {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
    /*  */
    display: flex;
    flex-direction: column;
    top: -4rem;
    right: -7rem;
    gap: 32px;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.close-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    padding: 16px;
    gap: 10px;
    background-color: #E5E7EB;
    /* align-content: center; */
    top: 24rem;
    cursor: pointer;
    position: relative;
}

.close-img img {
    width: 20px;
    height: 20px;
}

.img-preview {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0px;
    color: #1F2937;
    text-align: start;
}

.mega-div {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 712px;
    gap: 12px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.mega-idd {
    width: 100%;
    max-width: 712px;
    border-radius: 10px;
    transition: transform 0.4s ease, opacity 0.4s ease;
    object-fit: contain;
}

.mega-identity {
    width: 100%;
    height: 578.5px;
    object-fit: contain;
}

.img-identity {
    width: 100%;
    max-width: 712px;
    height: 450px;
}

.carousel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 712px;
}

.sub-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
    width: 100%;
}

.carousel-left,
.carousel-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    padding: 16px;
    gap: 10px;
    background-color: #E5E7EB;
    transition: background 0.3s ease;
    cursor: pointer;
}

.carousel-left:hover,
.carousel-right:hover {
    background: #e6f2de;
}

.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.all-indicators {
    width: 12px;
    height: 12px;
    transition: background-color 0.3s ease;
    background-color: #e6f2de;
    border-radius: 50%;
}

.all-indicators.active {
    background-color: #90bf6f;
}

.indicator-one {
    background-color: #90BF6F;
}

.indicator-two {
    background-color: #E6F2DE;
}

.indicator-three {
    background-color: #E6F2DE;
}

* {
    /* border: 1px solid #000; */
}