.idd-heading {
    padding-left: 30px !important;
}

.ident-type {
    width: 100%;
    max-width: 148px;
    height: 63px;
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid rgb(238, 234, 234);
    gap: 12px;
    justify-content: start;
    flex-direction: column;
}

.ident-type p {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    color: #1F2937;
    padding-top: 5px;
}

.view-docs {
    display: flex;
    padding: 16px 1px;
    gap: 10px;
    border-bottom: 1px solid rgb(227, 223, 223);
    height: 63px;
    width: 100%;
    max-width: 210px;
}

.view-bg-black {
    display: flex;
    padding: 9px 16px;
    gap: 12px;
    background-color: #1F2937;
    max-width: 151px;
    width: 100%;
    height: 34px;
    border-radius: 8px;
    cursor: pointer;
}

.view-bg-white {
    font-family: "Rethink Sans" sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.kyc-dropdown {
    height: 150px;
    top: 60px;
}